include ../includes/navBar.pug
    block head 
        script(src="/js/main.js")
    block content
        section
            .container-100.ms-5.me-5
                .row.m-0.pb-5.mb-5
                    .col-xl-2.col-sm-12
                        h2 Filtro
                            select.form-select.d-xl-none(name='zhanri')
                                option(value='Romance', selected=(active==="Romance"))
                                      a(href='?zhanri=Romance') 
                                        h6
                                            small Romantik
                                option(value='femij', selected=(active==="femij")) Për Fëmijë
                                option(value='tjere', selected=(active==="tjere")) Të Tjerë
                                option(value='clear', selected=(active==="clear")) Te Gjitha
                                
                            ul.list-group.d-none.d-xl-block
                                li.list-group-item(class=(active==="Romance" ? "active":""))
                                    a(href='?zhanri=Romance') 
                                        h6
                                            small Romantik
                                li.list-group-item(class=(active==="femij" ? "active":""))
                                    a(href='?zhanri=femij') 
                                        h6
                                            small Për Fëmijë
                                li.list-group-item(class=(active==="tjere" ? "active":""))
                                    a(href='?zhanri=tjere')
                                        h6
                                            small  Të Tjerë
                                li.list-group-item(class=(active==="clear" ? "active":""))
                                    a(href='?zhanri=clear')
                                        h6
                                            small  Te Gjitha
                    .col-xl-10.col-sm-12.text-center
                        .col-xl-12
                            p ssdsds
                        .col-xl-12
                            .container-fluid.pt-3
                                .row
                                    - const width=200
                                    each liber in librat
                                        .col-xl-3.col-sm-5.pt-3
                                            a(href="/book-profile/"+liber.id)
                                                img(src=liber.linku, alt='Titulli i Librit', width=(width+"px"), height=((width*1.6)+"px"))
                                            h3= liber.titulli
                                            p= liber.autori
                                            p= liber.zhanri 
    include ../includes/footer.pug