include ../includes/navBar.pug
    block head 
        link(rel='stylesheet', href='/css/navBar.css')
    block content
        section
            .container
                .row.mt-5
                    .col-5.d-flex.justify-content-end
                        - const width=300
                        form(action='/updatebook', method='PUT')
                            input(type="text", name='tituli', value=libri.titulli)
                            input(type="text", name='autori', value=libri.autori)
                            input(type="text", name='zhanri', value=libri.zhanri)
                            input(type="submit", value='Edito')


                            


    include ../includes/footer.pug
